*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.ul{
    font-size: 20px;
    list-style-type: none;
    display: flex;
    gap: 21px;
    justify-content: center;
    padding-top: 20px;
}
.head{
    background-color: #F5F7FA;
    width: 1440px;
    height: 1369px;
}
.image{
font-size: 40px;
float: inline-start;
margin-left: 10px;

}
.border{
border: 1px solid #4CAF4F;
 border-radius: 10px; 
 display: flex;
 padding: 20px;
float: inline-end;
background-color: #4CAF4F;
margin-left: 110px;
}
.login{
color: #4CAF4F; 
margin-top: 17px;
}
.tag1{
  display: flex;
  color: black;
font-size: 70px;
}
.tag2{
    display: flex;
    color: #4CAF4F;
  font-size: 70px;
}
.tag3{
    display: flex;
  font-size: 20px; 
  color: black;
  font-weight: 100;
}
.button{
    border: 1px;
    border-radius: 10px;
    background-color: #4CAF4F;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    float: inline-start;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    font-weight: 700;
}
.box{
float: inline-start;
margin-top: 110px;
margin-left: 100px;
}
.img{
float: inline-end;
margin-top: 100px;
margin-right: 100px;
}
.tag-4{
    display: flex;
    justify-content: center;
    margin-top: -650px;
    background-color: white;
    
    font-size: 50px;
}
.tag-5{
    display: flex;
    justify-content: center;
    font-weight: 100;
    background-color: white;
    margin-top: 20px;
}
.logos-img{
    background-color: white;
    padding-bottom: 60px;
}
.icon-img-p{
 margin-left: 120px;
   background-color: white;
   margin-top: 20px;
}
.div-2{
    background-color: white;
    height: 14000px;
}
.tag-6{
    font-size: 36px;
    text-align: center;
}
.tag-7{
    font-size: 16px;
    font-weight: 100;
     text-align: center;
     margin-top: 10px;
}
.yu{
    margin-left: 200px;
    margin-top: 50px;
}
.ui{
    font-size: 28px;
    font-weight: 900;
    margin-left: 150px;
}
.oi{
    gap: 8px;
    font-size: 15px;
    font-weight: 100;
    width: 251px;
    height: 60px;
    margin-left: 120px;
}
.yp{
    display: flex;
    justify-content: center;
}
.hgj{
    margin-left: 640px;
    margin-top: -200px;
}